main {
  margin: 75px;
  margin-top: 0;
  padding-top: 75px;
  z-index: 2;
  position: relative;
  section {
    min-height: 100vh;
    margin-top: 5em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    @media only screen and(min-width:$breakpoint-lg){
      margin-left: 0;
      margin-right: 0;
    }
  }
  .section_me {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100vh;
  }
  .section_me--presentation,
  .section_me--aboutMe {
    width: 100%;
    @media only screen and (min-width: $breakpoint-lg) {
      width: 50%;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .section_me--presentation {
    text-align: right;
    margin-top: 5em;
    h3 {
      font-size: 1.5rem;
    }
  }
  .section_me--aboutMe {
    text-align: left;
    margin-top: 10em;
    @media only screen and (min-width: $breakpoint-lg) {
      text-align: right;
    }
  }

  .section_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media only screen and (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
    h1 {
      font-size: 4rem;
      font-weight: 600;
    }
    .section_skills--left,
    .section_skills--right {
      width: 100%;
      text-align: left;
      @media only screen and (min-width: $breakpoint-lg) {
        width: 50%;
        padding: 3em;
      }
    }
    .section_skills--left {
      h1 {
        max-width: 400px;
      }
    }
    .section_skills--right {
      .section_skills--right-skill {
        list-style: none;
        li {
          font-size: 2rem;
        }
        .accordion-wrapper {
          // display: flex;
          .accordion {
            padding-left: 2em;
            padding-right: 5em;
            max-height: 0;
            transition: max-height 0.5s ease-out;
            overflow: hidden;
            cursor: pointer;
          }
          .active {
            max-height: 15em;
          }
        }
        .progressionBar-wrapper__main,
        .progressionBar-wrapper {
          width: 100%;
          padding: 10px 10px 10px 0;
          display: flex;
          align-items: center;
          gap: 30px;
          position: relative;
          cursor: pointer;
          .progressionBar,
          .totalBar {
            height: 5px;
            width: 100%;
            transition: width -15s ease-out;
            border: 1px solid red;
          }
          .progressionBar {
            position: absolute;
            background-color: red;
          }
        }
        .progressionBar-wrapper__main {
          &::after {
            content: '\25BC';
            color: var(--color-white);
            font-size: 1.5rem;
            transition: transform 0.5s;
          }
        }
        .active {
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
      .section_skills--right_certifications {
        margin-top: 5em;
        display: flex;
        gap: 15px;
        .certification-wrap {
          border: 1px solid var(--color-lines);
          background-color: rgba(38, 37, 35, 0.4);
          padding: 1em;
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          p,
          h4,
          a {
            color: var(--color-gray);
          }
          p,
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  .section_projects {
    h1 {
      text-align: center;
    }
    .swiper {
      text-align: center;
      margin-top: 10em;
      // overflow: visible;
      @media only screen and (min-width: $breakpoint-lg) {
        margin: 5em 15em;
        // overflow: hidden;
      }
      .swiper-slide {
        transition: all 0.5s ease-out;
        transform: scale(0.7);
        position: relative;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
        }
        img {
          width: 100%;
        }
      }
      .swiper-slide-active {
        transform: scale(1);
        &::after {
          background-color: transparent;
        }
      }
    }
  }
}
